@page
@model AddModel
@{
    ViewData["Title"] = "員工資料維護 (新增)";
}

<h2>@ViewData["Title"]</h2>
<h5>@Model.Message</h5>
<hr />

<div class="container-fluid">
	
    <div class="row">
        <div class="col-sm">
			<form method="POST">
				<div class="col-sm-4 col-xs-12">
					<label asp-for="employee.Name">姓名: </label>
					<input name="Name" type="text" placeholder="姓名" asp-for="employee.Name">
                </div>
                <div class="col-sm-4 col-xs-12">
                    <label asp-for="employee.PersonId">身分證號: </label>
                    <input name="PersonId" type="text" placeholder="身分證號" asp-for="employee.PersonId">
                </div>
                <div class="col-sm-4 col-xs-12">
                    <label asp-for="employee.Password">密碼: </label>
                    <input name="Password" type="text" placeholder="密碼" asp-for="employee.Password">
                </div>
				<div class="col-sm-12 col-xs-12">
                    <input class="btn btn-primary" type="submit" value="新增">
					<a asp-page="/Employee/Index" class="btn btn-danger">取消</a>
                </div>
            </form>
		</div>
	</div>

</div>

